*.iml
.idea/
*.ipr
*.iws
.idea/*
.gradle
build/
.classpath
.project
.settings/
bin/
out/
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
/*.zip
*.DS_Store
cmake-build-debug/
